:root{

    --blue:rgb(58, 58, 219);
    --pink:rgb(255, 192, 203);
    --yellow:rgb(255, 255, 0);
    --orange:rgba(249, 167, 14, 0.949);
    --white:white;
}
*{
  margin: 0px;
  padding: 0px;

}


.it{
  margin-top: 25px;
  position: relative;
  width:100%;
  padding:1.5rem;
  background-image: linear-gradient(yellow,orange,red);

}
.fix{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

}

.alignitem{
  margin-top:4rem;
  display:grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap:1.5rem;
  height: auto;
}
.alignitem button{
  border-radius:100rem;
  background-color:rgb(180, 220, 230);
  padding: 1rem 2rem;
  position:relative;
  background-image: linear-gradient(yellow,orange,red);
  border:transparent;
  box-shadow: 3px 3px 8px rgb(219, 6, 231) ;
}

button:active{
  background-image: linear-gradient(45deg,rgb(17, 237, 237),rgb(31, 205, 179) 50%);

}
/* .image{
  width:50px; 
  height:50px;
  position:absolute;
  top: 1%;
  right: 5%;
} */

@media screen and (max-width:1000px) and (min-width:0px){
  body{
    zoom:1;
    transform:1.0;
  }
  input
  {
      width:auto;
      max-height: fit-content;
  }
  .alignitem{
    width:auto;
    max-height: fit-content;
    grid-column-gap:50px;
  }
  .aligncontainer{
    max-width: 200px;
  }
  
.alignitem button{
  border-radius:100rem;
  background-color:rgb(180, 220, 230);
  padding: 20px;
  position:relative;
  background-image: linear-gradient(yellow,orange,red);
  border:transparent;
  box-shadow: 3px 3px 8px rgb(219, 6, 231) ;
}
}